form{
font-family: 'Raleway', sans-serif;
}

body{
background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://i.pinimg.com/564x/1c/f5/ad/1cf5adcd0f0b1e3c568ff5dbf907db63.jpg.jpg');
}

img{
    width: 100px;
    height: 100px;
}

